<table class="table">
    <thead>
    <tr>
        <th class="width-1">{{ 'shop.cart.prduct_name'|trans }}</th>
        <th class="width-2">{{ 'shop.cart.price'|trans }}</th>
        <th class="width-3">{{ 'shop.cart.quantity'|trans }}</th>
        <th class="width-4">{{ 'shop.cart.total'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% set total = 0  %}
    {% for item in value %}
        <tr>
            <td>
                <div class="o-pro-dec">
                    {% set runtimeConfig = {"thumbnail": {"size": [50, 50] }} %}
                    {% set image = item.product.images|first %}
                    <img
                        src="{{ vich_uploader_asset(image, 'imageFile')|imagine_filter('shop_square_filter', runtimeConfig) }}"
                        alt="{{ item.product.title }}"/>

                    <a href="{{ url('shopProductView', {'slug': item.product.slug}) }}"
                       title="{{ item.product.title }}">
                        {{ item.product.title }}
                    </a>
                </div>
            </td>
            <td>
                <div class="o-pro-price">
                    <p>{{ item.product.price }} {{ currency_code }}</p>
                </div>
            </td>
            <td>
                <div class="o-pro-qty">
                    <p>{{ item.quantity }}</p>
                </div>
            </td>
            <td>
                <div class="o-pro-subtotal">
                    {% set total = total + item.totalAmount  %}
                    <p>{{ item.totalAmount|number_format(2, '.', ',') }} {{ currency_code }}</p>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <td colspan="3"><b>{{ 'shop.cart.grand_total'|trans }}</b></td>
        <td colspan="1">
            <b>{{ total|number_format(2, '.', ',') }} {{ currency_code }}</b>
        </td>
    </tr>
    </tfoot>
</table>