{% extends 'base.html.twig' %}

{% block title %}{{ 'titles.gallery'|trans }}{% endblock %}

{% block body %}
    {% set crumbs = {
        'title': 'titles.gallery',
        'description': '',
        'path': [
            {'url': path('homepage'), 'title': 'titles.home'},
            {'url': path('gallery'), 'title': 'titles.gallery'},
        ]
    } %}
    {% include '::_breadcrumbs.html.twig' with crumbs %}


    <div class="galllery item2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title text-center">
                        <h2>{{ 'titles.gallery'|trans }}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="gallery-isotope-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="gallery-tab-menu isotope-menu text-center">
                            <ul>
                                <li class="active" data-filter="*">All</li>
                                {% for category in categories if not category.images.empty %}
                                    <li data-filter=".category-{{ category.id }}">{{ category.name }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="gallery-tab-content isotope-gallery">
                    <div class="row">
                        {% for category in categories %}
                            {% for image in category.images %}
                                <div class="col-md-2 col-sm-6 col-xs-12 gallery-item category-{{ category.id }}">
                                    <div class="single-gallery">
                                        <div class="gallery-img">
                                            <img src="{{ vich_uploader_asset(image, 'imageFile') }}"
                                                 alt="{{ category.name }}"/>
                                            <a href="{{ vich_uploader_asset(image, 'imageFile') }}">
                                                <i class="zmdi zmdi-zoom-in"></i>
                                            </a>
                                        </div>
                                        <div class="gallery-comment">{{ image.comment|raw }}</div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}