<div class="breadcrumbs text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
                <div class="breadcrumbs-title">
                    {% if crumbs.title is defined %}
                        <h2>{{crumbs.title|trans|raw}}</h2>
                    {% endif %}
                    {% if crumbs.title is defined %}
                        {{crumbs.description|trans|raw}}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="breadcrumbs-menu">
        <ul>
            {% for item in crumbs.path %}
                {% if item.url is defined %}
                    <li>
                        <a href="{{item.url}}" title="{{item.title|trans}}">{{item.title|trans}}</a>
                    </li>
                {% else %}
                    <li>{{item.title|trans}}</li>
                {% endif %}

                {%  if not loop.last %}<li>&raquo;</li>{% endif %}

            {% endfor %}
        </ul>
    </div>
</div>