<div class="footer">
    <div class="footer-top ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-1 col-sm-8 col-xs-12">
                    <div class="single-footer contact">
                        <div class="footer-title">
                            <h3>{{ 'footer.contact_us'|trans }}</h3>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 mb-15">
                                <address>
                                    <p><i class="zmdi zmdi-pin mr-10"></i> Kyiv, Darnitskiy dist., Nekto str.</p>
                                </address>
                            </div>
                            <div class="col-xs-12 col-sm-12">
                                <p><i class="zmdi zmdi-phone mr-10"></i> +660 256 24857</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-8 col-xs-12">
                    <div class="single-footer quick-links">
                        <div class="footer-title">
                            <h3>{{ 'footer.quick_links'|trans }}</h3>
                        </div>
                        <ul>
                            <li>
                                <a href="{{ path('homepage') }}" title="{{ 'titles.home'|trans }}">
                                    {{ 'titles.home'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('about') }}" title="{{ 'titles.about'|trans }}">
                                    {{ 'titles.about'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('servicesList') }}" title="{{ 'titles.services'|trans }}">
                                    {{ 'titles.services'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('specialOffers') }}" title="{{ 'titles.special_offer'|trans }}">
                                    {{ 'titles.special_offer'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('blog') }}" title="{{ 'titles.blog'|trans }}">
                                    {{ 'titles.blog'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('testimonialsList') }}" title="{{ 'titles.testimonials'|trans }}">
                                    {{ 'titles.testimonials'|trans }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-8 col-xs-12">
                    <div class="single-footer open-hours">
                        <div class="footer-title">
                            <h3>{{ 'footer.open_hours'|trans }}</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetueiusmodm dost adipisicing elit, sed do eiusmod is
                            tempincididuntm ut
                            lorem ipsome do or sit amt labore et dolor </p>
                        <dl class="dl-horizontal">
                            <dt>Monday - Friday:</dt>
                            <dd>8.00-5.00</dd>
                            <dt>Saturday:</dt>
                            <dd>12.00-5.00</dd>
                            <dt>Sunday:</dt>
                            <dd class="closed-hours">close</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>