<div class="header">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 hidden-xs">
                    <div class="header-left">
                        <div class="call-center">
                            <p><i class="zmdi zmdi-phone"></i>(+880) 01656300176</p>
                        </div>
                        <div class="mail-address">
                            <p><i class="zmdi zmdi-email"></i>breed@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="social-icons">
                        <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="#"><i class="zmdi zmdi-vk"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom sticky-header">
        <div class="container">
            <div class="mgea-full-width">
                <div class="row">
                    <div class="col-md-2 col-sm-6 col-xs-9">
                        <div class="logo">
                            <a href="{{path('homepage')}}" title="{{ 'titles.home'|trans }}">
                                <img src="{{ asset('images/logo/logo.png', 'theme') }}" alt="{{ 'titles.home'|trans }}">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-8 hidden-sm hidden-xs">
                        <div class="menu">
                            <nav>
                                <ul>
                                    <li>
                                        <a href="{{path('homepage')}}" title="{{ 'titles.home'|trans }}">
                                            {{ 'titles.home'|trans }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{path('servicesList')}}" title="{{ 'titles.services'|trans }}">
                                            {{ 'titles.services'|trans }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('specialOffers') }}" title="{{ 'titles.special_offer'|trans }}">
                                            {{ 'titles.special_offer'|trans }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{path('about')}}" title="{{ 'titles.about'|trans }}">
                                            {{ 'titles.about'|trans }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="{{ 'titles.media'|trans }}">{{ 'titles.media'|trans }}</a>
                                        <ul class="dropdown_menu">
                                            <li>
                                                <a href="{{path('blog')}}" title="{{ 'titles.blog'|trans }}">
                                                    {{ 'titles.blog'|trans }}
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{path('testimonialsList')}}" title="{{ 'titles.testimonials'|trans }}">
                                                    {{ 'titles.testimonials'|trans }}
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{path('gallery')}}" title="{{ 'titles.gallery'|trans }}">
                                                    {{ 'titles.gallery'|trans }}
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="{{path('contacts')}}" title="{{ 'titles.contact_us'|trans }}">
                                            {{ 'titles.contact_us'|trans }}
                                        </a>
                                    </li>
                                    <li class="mega-parent item-2"><a href="shop.html">shop</a>
                                        <ul class="mgea-menu">
                                            <li class="mega-sub"><a href="#">Column one</a>
                                                <ul class="mega-sub-item">
                                                    <li><a href="shop.html">shop page</a></li>
                                                    <li><a href="shop.html">shop sidebar</a></li>
                                                    <li><a href="wishlist.html">wishlist</a></li>
                                                    <li><a href="product-details.html">product Details</a></li>
                                                    <li><a href="cart.html">cart</a></li>
                                                </ul>
                                            </li>
                                            <li class="mega-sub"><a href="#">Column two</a>
                                                <ul class="mega-sub-item">
                                                    <li><a href="checkout.html">checkout</a></li>
                                                    <li><a href="gallery-2.html">Gallery 2</a></li>
                                                    <li><a href="gallery.html">gallery</a></li>
                                                    <li><a href="elements-feature.html">Feature</a></li>
                                                    <li><a href="elements-fun-fact.html">Fun fact</a></li>
                                                </ul>
                                            </li>
                                            <li class="mega-sub"><a href="#">Column Three</a>
                                                <div class="mega-img">
                                                    <img src="{{ asset('images/product/mega.jpg', 'theme') }}" alt="">
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-3">
                        <div class="header-action-box">
                            <div class="mini-cart">
                                <div class="cart-icon">
                                    <a href="#"><i class="zmdi zmdi-shopping-cart"></i></a>
                                    <span>2</span>
                                </div>
                                <!-- Mini Cart -->
                                <div class="mini-cart-box right">
                                    <div class="mini-cart-product fix">
                                        <a href="#" class="image"><img src="{{ asset('images/cart/mini-1.jpg', 'theme') }}" alt=""></a>
                                        <div class="content fix">
                                            <a href="#" class="title">wooden furniture</a>
                                            <p>Color: Black</p>
                                            <p>Size: SL</p>
                                            <button class="remove"><i class="zmdi zmdi-close"></i></button>
                                        </div>
                                    </div>
                                    <div class="mini-cart-product fix">
                                        <a href="#" class="image"><img src="{{ asset('images/cart/mini-1.jpg', 'theme') }}" alt=""></a>
                                        <div class="content fix">
                                            <a href="#" class="title">wooden furniture</a>
                                            <p>Color: Black</p>
                                            <p>Size: SL</p>
                                            <button class="remove"><i class="zmdi zmdi-close"></i></button>
                                        </div>
                                    </div>
                                    <div class="mini-cart-product fix">
                                        <a href="#" class="image"><img src="{{ asset('images/cart/mini-1.jpg', 'theme') }}" alt=""></a>
                                        <div class="content fix">
                                            <a href="#" class="title">wooden furniture</a>
                                            <p>Color: Black</p>
                                            <p>Size: SL</p>
                                            <button class="remove"><i class="zmdi zmdi-close"></i></button>
                                        </div>
                                    </div>
                                    <div class="mini-cart-checkout text-center">
                                        <a href="checkout.html">checkout</a>
                                    </div>
                                </div>
                                <!--mini cart end-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mobile menu start -->
        <div class="mobile-menu-area hidden-lg hidden-md">
            <div class="container">
                <div class="col-md-12">
                    <nav id="dropdown" style="display: block;">
                        <ul>
                            <li>
                                <a href="{{path('homepage')}}" title="{{ 'titles.home'|trans }}">
                                    {{ 'titles.home'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{path('servicesList')}}" title="{{ 'titles.services'|trans }}">
                                    {{ 'titles.services'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('specialOffers') }}" title="{{ 'titles.special_offer'|trans }}">
                                    {{ 'titles.special_offer'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{path('about')}}" title="{{ 'titles.about'|trans }}">
                                    {{ 'titles.about'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="#" title="{{ 'titles.media'|trans }}">{{ 'titles.media'|trans }}</a>
                                <ul class="dropdown_menu">
                                    <li>
                                        <a href="{{path('blog')}}" title="{{ 'titles.blog'|trans }}">
                                            {{ 'titles.blog'|trans }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{path('testimonialsList')}}" title="{{ 'titles.testimonials'|trans }}">
                                            {{ 'titles.testimonials'|trans }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{path('gallery')}}" title="{{ 'titles.gallery'|trans }}">
                                            {{ 'titles.gallery'|trans }}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="{{path('contacts')}}" title="{{ 'titles.contact_us'|trans }}">
                                    {{ 'titles.contact_us'|trans }}
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Mobile menu end -->
    </div>
</div>