<!DOCTYPE html>
<html class="" lang="en">


{% include '::_head.html.twig' %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{{ 'app.name'|trans }}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link type="image/x-icon" rel="shortcut icon" href="{{ asset('apple-touch-icon.png') }}">
    <link type="image/x-icon" rel="icon" href="{{ asset('favicon.ico') }}"/>
    <!-- All css files are included here. -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css', 'theme') }}">
    <link rel="stylesheet" href="{{ asset('css/core.css', 'theme') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css', 'theme') }}">
    <link rel="stylesheet" href="{{ asset('css/responsive.css', 'theme') }}">
    <!-- customizer style css -->
    <link href="{{ asset('css/colors/skin-default.css', 'theme') }}" rel="stylesheet">
    <!-- Modernizr JS -->
    <script src="{{ asset('js/vendor/modernizr-2.8.3.min.js', 'theme') }}"></script>
    {% block stylesheets %}{% endblock %}
    {% block fb_meta %}{% endblock %}
    {% block google_analytics %}{% endblock %}

    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body class="wide-layout main-bg-1">

<div id="fb-root"></div>
<!--[if lt IE 8]>
<p class="browserupgrade">
    You are using an <strong>outdated</strong> browser.
    Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
</p>
<![endif]-->
<div class="wrapper white-bg">
    {% include '::_header.html.twig' %}

    {% block body %}{% endblock %}

    {% include '::_footer.html.twig' %}
</div>


<script src="{{ asset('js/vendor/jquery-1.12.0.min.js', 'theme') }}"></script>
<script src="{{ asset('js/vendor/bootstrap.min.js', 'theme') }}"></script>
<script src="{{ asset('js/vendor/jquery.nivo.slider.pack.js', 'theme') }}"></script>
<script src="{{ asset('js/vendor/owl.carousel.min.js', 'theme') }}"></script>
<script src="{{ asset('js/vendor/jquery.magnific-popup.js', 'theme') }}"></script>
<script src="{{ asset('js/vendor/jquery.counterup.min.js', 'theme') }}"></script>
<script src="{{ asset('js/vendor/waypoints.min.js', 'theme') }}"></script>
<script src="{{ asset('js/plugins.js', 'theme') }}"></script>
<script src="{{ asset('js/main.js', 'theme') }}"></script>
<script src="{{ asset('assets/default/js/share.js') }}"></script>

{% block javascripts %}{% endblock %}
</body>
</html>
