{% form_theme form 'bootstrap_3_layout.html.twig' %}

<h3>{{ 'form.head.add_comment'|trans }}</h3>

{% for message in app.flashes('success') %}
    <div class="alert alert-success">{{ message|trans }}</div>
{% endfor %}

{{ form_start(form) }}
{{ form_widget(form) }}

<input type="submit" value="{{ 'button.add'|trans }}" class="btn btn-default pull-right" />
{{ form_end(form) }}
