<div class="single-testimonial">
    <p>
        <i class="fa fa-quote-left" aria-hidden="true"></i>
        {{ testimonial.text[:500] ~ '...' }}
    </p>
    <h3>{{ testimonial.author }}</h3>
    <p class="title">{{ testimonial.created|date }}</p>
</div>