<div class="single-testimonial">
    <h3>{{ testimonial.author }} <small>({{ testimonial.created|date }})</small></h3>
    <blockquote>
    <p>
        <i class="fa fa-quote-left" aria-hidden="true"></i>
        {{ testimonial.text|nl2br }}
    </p>
    </blockquote>

    <p class="title"></p>
</div>