{% extends 'base.html.twig' %}

{% block title %}{{ 'titles.testimonials'|trans }}{% endblock %}

{% block body %}
    {% set crumbs = {
        'title': 'titles.testimonials',
        'description': 'Our clients testimonials',
        'path': [
            {'url': path('homepage'), 'title': 'titles.home'},
            {'url': path('testimonialsList'), 'title': 'titles.testimonials'},
        ]
    } %}
    {% include '::_breadcrumbs.html.twig' with crumbs %}

    <div class="elements testimonials ptb-100">
        <div class="container">
            <div class="row pb-50">
                {% include ':testimonial:_form.html.twig' %}
            </div>
            <div class="row">
                {% for item in testimonialList %}
                        {% include ':testimonial:_item.html.twig' with {'testimonial': item} %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}