<div id="grid" class="tab-pane active" role="tabpanel">
    <div class="row">
        {% for product in products %}
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-feature text-center">
                    <div class="feature-img">
                        {%  set image = product.images|first %}
                        <a href="{{path('shopProductView', {'slug': product.slug})}}"
                           title="{{ product.title }}">
                            <img src="{{ vich_uploader_asset(image, 'imageFile')|imagine_filter('service_thumb_filter') }}"
                                 alt="{{ product.title }}" />
                        </a>
                    </div>
                    <div class="feature-desc">
                        <h3>
                            <a href="{{path('shopProductView', {'slug': product.slug})}}"
                               title="{{ product.title }}">
                                {{ product.title }}
                            </a>
                        </h3>
                        <p>{{ product.price }} {{ currency_code }}</p>
                        <h3 class="text-gray">
                            {{ 'pages.shop.availability'|trans }}:
                            {%  if product.quantity > 0 %}
                                <span class="text-green">{{ 'pages.yes'|trans }}</span>
                            {% else %}
                                <span class="text-light-gray">{{ 'pages.no'|trans }}</span>
                            {% endif %}
                        </h3>
                        <h3 class="text-gray">{{ 'pages.shop.quantity'|trans }}: {{ product.quantity }} ({{ 'shop.weight.ml'|trans }})</h3>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>