<div id="list" class="tab-pane" role="tabpanel">
                        <div class="row">
                            {% for product in products %}
                            <div class="shop-product-list col-md-12">
                                <div class="single-product">
                                    <div class="single-product-img">
                                        {%  set image = product.images|first %}
                                        <a href="{{path('shopProductView', {'slug': product.slug})}}"
                                           title="{{ product.title }}">
                                            <img src="{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('shop_square_filter') }}"
                                                 alt="{{ product.title }}" />
                                        </a>
                                    </div>
                                    <div class="single-product-info">
                                        <h3>
                                            <a href="{{path('shopProductView', {'slug': product.slug})}}" title="{{ product.title }}">
                                                {{ product.title }}
                                            </a>
                                        </h3>
                                        <h4>{{ product.price }} {{ currency_code }}</h4>
                                        <h5 class="text-gray">
                                            {{ 'pages.shop.availability'|trans }}:
                                            {%  if product.quantity > 0 %}
                                                <span class="text-green">{{ 'pages.yes'|trans }}</span>
                                            {% else %}
                                                <span class="text-light-gray">{{ 'pages.no'|trans }}</span>
                                            {% endif %}
                                        </h5>
                                        <h5 class="text-gray">{{ 'pages.shop.quantity'|trans }}: {{ product.quantity }} ({{ 'shop.weight.ml'|trans }})</h5>
                                        <div class="singe-product-desc">
                                            <p>{{ product.excerpt|raw }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
