<div class="checkout-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <div class="checkout-step active">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#order_review">
                                <h5>{{ 'shop.checkout.order_review'|trans }}</h5>
                            </a>
                        </div>
                    </div>
                    <div id="order_review"
                         class="panel-collapse collapse in"
                         aria-expanded="true"
                         role="tabpanel"
                         aria-labelledby="headingOne">
                        <div class="panel-body">
                            <p><b>{{ 'shop.checkout.order_number'|trans }}:</b> {{ order.id }}</p>
                            <p><b>{{ 'shop.checkout.name'|trans }}:</b> {{ order.name }}</p>
                            <p><b>{{ 'shop.checkout.email_address'|trans }}:</b> {{ order.email }}</p>
                            <p><b>{{ 'shop.checkout.phone_number_short'|trans }}:</b> {{ order.phone }}</p>

                            <div class="order-review">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th class="width-1">{{ 'shop.cart.prduct_name'|trans }}</th>
                                            <th class="width-2">{{ 'shop.cart.price'|trans }}</th>
                                            <th class="width-3">{{ 'shop.cart.quantity'|trans }} ({{ 'shop.weight.ml'|trans }})</th>
                                            <th class="width-4">{{ 'shop.cart.total'|trans }}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% set total = 0  %}
                                        {% for item in order.orderProducts %}
                                            <tr>
                                                <td>
                                                    <div class="o-pro-dec">
                                                        <a href="{{ url('shopProductView', {'slug': item.product.slug}) }}"
                                                           title="{{ item.product.title }}">
                                                            {{ item.product.title }}
                                                        </a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="o-pro-price">
                                                        <p>{{ item.product.price }} {{ currency_code }}</p>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="o-pro-qty">
                                                        <p>{{ item.quantity }}</p>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="o-pro-subtotal">
                                                        {% set total = total + item.totalAmount  %}
                                                        <p>{{ item.totalAmount|number_format(2, '.', ',') }} {{ currency_code }}</p>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <td colspan="3"><b>{{ 'shop.cart.grand_total'|trans }}</b></td>
                                            <td colspan="1">
                                                <b>{{ total|number_format(2, '.', ',') }} {{ currency_code }}</b>
                                            </td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>

                                <p>* {{ 'message.shop.wait_for_contact'|trans }}</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>