{% extends 'base.html.twig' %}

{% block title %}{{ 'pages.shop.cart'|trans }}{% endblock %}

{% block body %}
    {% set crumbs = {
        'title': 'pages.shop.cart',
        'description': '',
        'path': [
        {'url': path('homepage'), 'title': 'titles.home'},
        {'url': path('shopHome'), 'title': 'titles.shop'},
        {'title': 'pages.shop.cart'},
        ]
        } %}
    {% include '::_breadcrumbs.html.twig' with crumbs %}

    <div class="cart-page ptb-100">
        {% if items %}
        <div class="container">
            <form action="{{ path('shopUpdateCart') }}" method="POST">
            <div class="row">
                <div class="col-md-12">
                    <div class="cart_list table-responsive">
                        <table class="table_cart table-bordered">
                            <thead>
                            <tr>
                                <th class="id">#</th>
                                <th class="product">{{ 'shop.cart.image'|trans }}</th>
                                <th class="description">{{ 'shop.cart.prduct_name'|trans }}</th>
                                <th class="quantity">{{ 'shop.cart.quantity'|trans }} ({{ 'shop.weight.ml'|trans }})</th>
                                <th class="price">{{ 'shop.cart.price'|trans }}</th>
                                <th class="cart">{{ 'shop.cart.total'|trans }}</th>
                                <th class="action">{{ 'button.remove'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in items %}
                                <tr>
                                    <td class="id">{{ item.product.id }}</td>
                                    <td class="product_img">
                                        {% set image = item.product.images|first %}
                                        <a href="{{ path('shopProductView', {'slug': item.product.slug}) }}"
                                           title="{{ item.product.title }}">
                                            {% set runtimeConfig = {"thumbnail": {"size": [80, 80] }} %}
                                            <img
                                                src="{{ vich_uploader_asset(image, 'imageFile')|imagine_filter('shop_square_filter', runtimeConfig) }}"
                                                alt="{{ item.product.title }}"/>
                                        </a>
                                    </td>
                                    <td class="product_des">
                                        <h3><a href="{{ path('shopProductView', {'slug': item.product.slug}) }}"
                                               title="{{ item.product.title }}">
                                                {{ item.product.title }}
                                            </a>
                                        </h3>
                                    </td>
                                    <td class="p_quantity">
                                        <input type="text"
                                               class="form-control"
                                               placeholder="Text input"
                                               name="quantity[{{ item.product.id }}]"
                                               value="{{ item.quantity }}">
                                    </td>
                                    <td class="u_price">
                                        {{ item.product.price }} {{ currency_code }}
                                    </td>
                                    <td class="u_price">
                                        {{ item.totalAmount|number_format(2, '.', ',') }} {{ currency_code }}
                                    </td>
                                    <td class="p_action">
                                        <a title="{{ 'button.remove'|trans }}"
                                           href="{{ path('shopRemoveFromCart', {'id': item.product.id }) }}">
                                            <i class="zmdi zmdi-delete"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-5 col-md-4 col-sm-12 col-xs-12">
                    <input class="continue-shopping" type="submit"
                           value="{{ 'shop.cart.update_shopping_bag'|trans }}">
                </div>
                <div class="col-lg-7 col-md-8 col-sm-12 col-xs-12">
                    <div class="total text-right pull-right">
                        <h2 class="strong">
                            {{ 'shop.cart.grand_total'|trans }}
                            <span>{{ total|number_format(2, '.', ',') }} {{ currency_code }}</span>
                        </h2>
                        <a href="{{ path('shopCheckoutView') }}"
                           class="process-checkout"
                           title="{{ 'shop.cart.process_to_checkout'|trans }}">
                            {{ 'shop.cart.process_to_checkout'|trans }}
                        </a>
                    </div>
                </div>
            </div>
            </form>
        </div>
        {% endif %}
    </div>
{% endblock %}