{% extends 'base.html.twig' %}

{% block title %}{{ 'titles.services'|trans }} | {{ category.title }}{% endblock %}

{% block body %}
    {% set crumbs = {
        'title': 'titles.shop',
        'description': '',
        'path': [
            {'url': path('homepage'), 'title': 'titles.home'},
            {'url': path('shopHome'), 'title': 'titles.shop'},
            {'title': category.title},
        ]
    } %}
    {% include '::_breadcrumbs.html.twig' with crumbs %}


<div class="shop-page ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="shop-item-filter">
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <div class="shop-tab clearfix">
                                    <!-- Nav tabs -->
                                    <ul>
                                        <li class="{{ viewType == 'grid' ? 'active' : '' }}">
                                            <a class="grid-view"
                                               title="Grid"
                                               href="{{ path('shopCategoryTyped', {'slug': category.slug, 'viewType': 'grid'}) }}">
                                                <i class="zmdi zmdi-apps"></i>
                                            </a>
                                        </li>
                                        <li class="{{ viewType == 'list' ? 'active' : '' }}">
                                            <a class="list-view"
                                               title="List"
                                               href="{{ path('shopCategoryTyped', {'slug': category.slug, 'viewType': 'list'}) }}">
                                                <i class="zmdi zmdi-view-list-alt"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-3  hidden-xs">
                                <div class="show text-center">
                                    <p>{{ 'pages.shop.total'|transchoice(total) }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% if viewType == 'grid' %}
                    {%  include ':shop:_grid.html.twig' with {
                        'products': category.products,
                        'total': total,
                    } %}
                {%  else %}
                    {%  include ':shop:_list.html.twig' with {
                        'products': category.products,
                        'total': total,
                    } %}
                {% endif %}
                    </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="shop sidebar">
                    <aside class="widget categories grey-bg mb-30">
                        <div class="widget-title">
                            <h3>{{'pages.categories'|trans}}</h3>
                        </div>
                        <div class="widget-categories">
                            <ul>
                                {%  for cat in categories %}
                                    <li>
                                        <a href="{{ path('shopCategory', {'slug': cat.slug}) }}" title="{{ cat.title }}">
                                            {{ cat.title }}
                                        </a>
                                    </li>
                                {%  endfor %}
                            </ul>
                        </div>
                    </aside>
                    <aside class="widget mb-30 grey-bg">
                        <div class="widget-title">
                            <h3>{{ 'pages.shop.recent'|trans }}</h3>
                        </div>
                        <div class="recent-post">
                            {% for product in recent %}
                                <div class="single-recent-post mb-15">
                                    <div class="recent-post-thumbnail">
                                        {%  set image = product.images|first %}
                                        <img src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="{{ product.title }}">
                                    </div>
                                    <div class="post-detail">
                                        <div class="post-title">
                                            <h5>
                                                <a href="{{ path('blogPost', {'slug': product.slug}) }}"
                                                   title="{{ product.title }}">
                                                    {{ product.title }}
                                                </a> ({{ product.price }} {{ currency_code }})
                                            </h5>
                                        </div>
                                        <div class="post-publish">
                                            <p class="post-date">{{ product.created|date }}</p>
                                        </div>
                                    </div>
                                </div>
                            {%  endfor %}
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}