{% extends 'base.html.twig' %}

{% block title %}{{ 'pages.shop.cart'|trans }}{% endblock %}

{% block body %}
    {% set crumbs = {
        'title': 'pages.shop.cart',
        'description': '',
        'path': [
        {'url': path('homepage'), 'title': 'titles.home'},
        {'url': path('shopHome'), 'title': 'titles.shop'},
        {'title': 'pages.shop.cart'},
        ]
        } %}
    {% include '::_breadcrumbs.html.twig' with crumbs %}

    <div class="checkout-area ptb-100">
        <div class="container">
            <div class="row">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <div class="checkout-step">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#order_review">
                                    <h5>1. {{ 'shop.checkout.order_review'|trans }}</h5>
                                </a>
                            </div>
                        </div>
                        <div id="order_review"
                             class="panel-collapse collapse"
                             role="tabpanel"
                             aria-labelledby="headingOne">
                            <div class="panel-body">
                                <div class="order-review">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th class="width-1">{{ 'shop.cart.prduct_name'|trans }}</th>
                                                <th class="width-2">{{ 'shop.cart.price'|trans }}</th>
                                                <th class="width-3">{{ 'shop.cart.quantity'|trans }} ({{ 'shop.weight.ml'|trans }})</th>
                                                <th class="width-4">{{ 'shop.cart.total'|trans }}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for item in items %}
                                            <tr>
                                                <td>
                                                    <div class="o-pro-dec">
                                                        <a href="{{ path('shopProductView', {'slug': item.product.slug}) }}"
                                                           title="{{ item.product.title }}">
                                                            {{ item.product.title }}
                                                        </a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="o-pro-price">
                                                        <p>{{ item.product.price }} {{ currency_code }}</p>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="o-pro-qty">
                                                        <p>{{ item.quantity }}</p>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="o-pro-subtotal">
                                                        <p>{{ item.totalAmount|number_format(2, '.', ',') }} {{ currency_code }}</p>
                                                    </div>
                                                </td>
                                            </tr>
                                            {%  endfor %}
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <td colspan="3"><b>{{ 'shop.cart.grand_total'|trans }}</b></td>
                                                <td colspan="1"><b>{{ total|number_format(2, '.', ',') }} {{ currency_code }}</b></td>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <div class="checkout-step active"><h5>2. {{ 'shop.checkout.contact_info'|trans }}</h5></div>
                        </div>
                        <div id="billing" class="panel-collapse collapse in" role="tabpanel"
                             aria-labelledby="headingTwo" aria-expanded="true" style="">
                            <div class="panel-body">
                                <div class="inner-step clearfix">
                                    {% form_theme form 'bootstrap_3_layout.html.twig' %}
                                    {% for message in app.flashes('success') %}
                                        <div class="alert alert-success">{{ message|trans }}</div>
                                    {% endfor %}

                                    {{ form_start(form) }}
                                    {{ form_widget(form) }}

                                        <input type="submit" value="{{ 'button.save'|trans }}"
                                               class="btn-default" />
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
