{% extends 'base.html.twig' %}

{% block title %}{{ 'shop.checkout.order_review'|trans }}{% endblock %}

{% block body %}
    {% set crumbs = {
        'title': 'shop.checkout.order_review',
        'description': '',
        'path': [
        {'url': path('homepage'), 'title': 'titles.home'},
        {'url': path('shopHome'), 'title': 'titles.shop'},
        {'title': 'shop.checkout.order_review'},
        ]
        } %}
    {% include '::_breadcrumbs.html.twig' with crumbs %}
    {% include ':shop:_orderReview.html.twig' with {'order': order} %}
{% endblock %}