{% extends 'base.html.twig' %}

{% block title %}{{ 'titles.shop'|trans }} | {{ product.title }}{% endblock %}

{% block fb_meta %}
    {%  set image = product.images|first %}
    <meta property="og:url"           content="{{ url('shopProductView', {'slug': product.slug}) }}" />
    <meta property="og:type"          content="product" />
    <meta property="og:title"         content="{{product.title}}" />
    <meta property="og:image" content="{{ app.request.getUriForPath(vich_uploader_asset(image, 'imageFile')) }}" />
{% endblock %}


{% block body %}
    {% set crumbs = {
        'title': product.title,
        'description': product.excerpt,
        'path': [
            {'url': path('homepage'), 'title': 'titles.home'},
            {'url': path('shopHome'), 'title': 'titles.shop'},
            {'title': product.title},
        ]
    } %}
    {% include '::_breadcrumbs.html.twig' with crumbs %}

<div class="product-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">{{ message|trans }}</div>
                {% endfor %}
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger">{{ message|trans }}</div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <div class="zoomWrapper clearfix">
                    {%  set image = product.images|first %}
                    <div id="img-1" class="zoomWrapper single-zoom">
                        <a href="#">
                            <img
                                id="zoom1"
                                src="{{ vich_uploader_asset(image, 'imageFile') }}"
                                data-zoom-image="{{ vich_uploader_asset(image, 'imageFile') }}"
                                alt="{{ product.title }}"
                                title="{{ product.title }}">
                        </a>
                    </div>
                    <div class="product-thumb">
                        <ul class="details-slider" id="gallery_01">
                            {%  for image in product.images %}
                            <li>
                                <a title="{{ product.title }}"
                                   class="elevatezoom-gallery"
                                   href="#"
                                   data-image="{{ vich_uploader_asset(image, 'imageFile') }}"
                                   data-zoom-image="{{ vich_uploader_asset(image, 'imageFile') }}">
                                    <img src="{{ vich_uploader_asset(image, 'imageFile') }}"
                                         alt="{{ product.title }}"
                                         title="{{ product.title }}">
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="product-detail single-product-info">
                    <h3>{{ product.title }}</h3>
                    <h4>{{ product.price }} {{ currency_code }}</h4>
                    <h5 class="text-gray">
                        {{ 'pages.shop.availability'|trans }}:
                        {%  if product.quantity > 0 %}
                            <span class="text-green">{{ 'pages.yes'|trans }}</span>
                        {% else %}
                            <span class="text-light-gray">{{ 'pages.no'|trans }}</span>
                        {% endif %}
                    </h5>
                    <h5 class="text-gray">{{ 'pages.shop.quantity'|trans }}: {{ product.quantity }}</h5>
                    <div class="">
                        <strong>{{ 'pages.categories'|trans }}:</strong>
                        {% for category in product.categories %}
                            <span>
                                <i class="zmdi zmdi-label-heart"></i>&nbsp;
                                <a href="{{ path('shopCategory', {'slug': category.slug}) }}"
                                   title="{{ category.title }}">
                                    {{ category.title }}
                                </a>
                            </span>
                        {% endfor %}
                    </div>
                    {%  if product.quantity > 0 %}
                        <ul class="product-action">
                            <li>
                                {% if not inTheCart %}
                                    <a href="{{ path('shopAddToCart', {'slug': product.slug}) }}"
                                       class="add-to-cart"
                                       title="{{ 'button.add_to_cart'|trans }}">
                                        {{ 'button.add_to_cart'|trans }}
                                    </a>
                                {% else %}
                                    <a href="{{ path('shopCartView') }}"
                                       class="button btn-border little mb-20">
                                        <span>{{ 'button.in_the_cart'|trans }}</span>
                                    </a>
                                {% endif %}
                            </li>
                        </ul>
                    {% endif %}
                    <div class="product-description">
                        <h5 class="overview">{{ 'pages.shop.product.description'|trans }}:</h5>
                        <div>{{ product.description|raw }}</div>
                    </div>
                    {%  if product.quantity > 0 %}
                    <ul class="product-action">
                        <li>
                            {% if not inTheCart %}
                                <a href="{{ path('shopAddToCart', {'slug': product.slug}) }}"
                                   class="add-to-cart"
                                   title="{{ 'button.add_to_cart'|trans }}">
                                    {{ 'button.add_to_cart'|trans }}
                                </a>
                            {% else %}
                                <a href="{{ path('shopCartView') }}"
                                   class="button btn-border little mb-20">
                                    <span>{{ 'button.in_the_cart'|trans }}</span>
                                </a>
                            {% endif %}
                        </li>
                    </ul>
                    {% endif %}
                    <div class="share mt-30">
                        <p>{{ 'pages.services.share'|trans }}:</p>
                        <ul>
                            <li class="facebook">
                                <a onclick="Share.facebook('{{ url('shopProductView', {'slug': product.slug}) }}'); return false;"
                                   style="cursor: pointer;"
                                   title="{{ 'pages.services.share'|trans }} в Facebook">
                                    <i class="zmdi zmdi-facebook"></i>
                                </a>
                            </li>
                            <li class="vk">
                                <a onclick="Share.vk('{{ url('shopProductView', {'slug': product.slug}) }}'); return false;"
                                   style="cursor: pointer;"
                                   title="{{ 'pages.services.share'|trans }} в VK">
                                    <i class="zmdi zmdi-vk"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">

            </div>
        </div>
    </div>
</div>
{% endblock %}