<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{{ 'app.name'|trans }}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link type="image/x-icon" rel="shortcut icon" href="{{ asset('apple-touch-icon.png') }}">
    <link type="image/x-icon" rel="icon" href="{{ asset('favicon.ico') }}"/>
    <!-- All css files are included here. -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css', 'theme') }}">
    <link rel="stylesheet" href="{{ asset('css/core.css', 'theme') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css', 'theme') }}">
    <link rel="stylesheet" href="{{ asset('css/responsive.css', 'theme') }}">
    <!-- customizer style css -->
    <link href="{{ asset('css/colors/skin-default.css', 'theme') }}" rel="stylesheet">
    <!-- Modernizr JS -->
    <script src="{{ asset('js/vendor/modernizr-2.8.3.min.js', 'theme') }}"></script>
    {% block stylesheets %}{% endblock %}
    {% block fb_meta %}{% endblock %}
    {% block google_analytics %}
        {% if app.environment == 'prod' %}
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124514170-1"></script>
            <script>
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());
              gtag('config', 'UA-124514170-1');
            </script>
        {% endif %}
    {% endblock %}

    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
