<div class="header">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8 hidden-xs">
                    <div class="header-left">
                        <div class="call-center">
                            <p><i class="zmdi zmdi-phone"></i> {{ 'contacts.phone'|trans({}, 'config') }}</p>
                        </div>
{#                        <div class="mail-address">#}
{#                            <p><i class="zmdi zmdi-pin"></i> {{ 'contacts.address'|trans({}, 'config') }}</p>#}
{#                        </div>#}
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="social-icons">
                        <a href="{{ 'fb.page.url'|trans({}, 'config') }}"
                           title="{{ 'fb.page.title'|trans({}, 'config') }}"
                           target="_blank">
                            <i class="zmdi zmdi-facebook"></i>
                        </a>
                        <a href="{{ 'vk.page.url'|trans({}, 'config') }}"
                           title="{{ 'vk.page.title'|trans({}, 'config') }}"
                           target="_blank">
                            <i class="zmdi zmdi-vk"></i>
                        </a>
                        <a href="{{ 'fb.cosmetics.url'|trans({}, 'config') }}"
                           title="{{ 'fb.cosmetics.title'|trans({}, 'config') }}"
                           target="_blank">
                            <i class="zmdi zmdi-shopping-basket"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom sticky-header">
        <div class="container">
            <div class="mgea-full-width">
                <div class="row">
                    <div class="col-md-2 col-sm-6 col-xs-9">
                        <div class="logo">
                            <a href="{{ path('homepage') }}" title="{{ 'titles.home'|trans }}">
                                <img src="{{ asset('images/logo/logo.png', 'theme') }}" alt="{{ 'titles.home'|trans }}">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-9 hidden-sm hidden-xs">
                        <div class="menu">
                            <nav>
                                <ul>
                                    <li>
                                        <a href="{{ path('homepage') }}" title="{{ 'titles.home'|trans }}">
                                            {{ 'titles.home'|trans }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('shopHome') }}" title="{{ 'titles.shop'|trans }}">
                                            {{ 'titles.shop'|trans }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('servicesList') }}" title="{{ 'titles.services'|trans }}">
                                            {{ 'titles.services'|trans }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('specialOffers') }}" title="{{ 'titles.special_offer'|trans }}">
                                            {{ 'titles.special_offer'|trans }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('blog') }}" title="{{ 'titles.blog'|trans }}">
                                            {{ 'titles.blog'|trans }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('testimonialsList') }}"
                                           title="{{ 'titles.testimonials'|trans }}">
                                            {{ 'titles.testimonials'|trans }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('gallery') }}" title="{{ 'titles.gallery'|trans }}">
                                            {{ 'titles.gallery'|trans }}
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-3 col-xs-2">
                        {% if cart.getCartItems|length > 0 %}
                        <div class="header-action-box">
                            <div class="mini-cart">
                                <div class="cart-icon">
                                    <a href="#"><i class="zmdi zmdi-shopping-cart"></i></a>
                                    <span>{{ cart.getCartItems|length }}</span>
                                </div>

                                <div class="mini-cart-box right">
                                    {% for item in cart.getCartItems %}
                                        <div class="mini-cart-product fix">
                                            {% set image = item.product.images|first %}
                                            <a href="{{ path('shopProductView', {'slug': item.product.slug}) }}"
                                               title="{{ item.product.title }}"
                                               class="image">
                                                {% set runtimeConfig = {"thumbnail": {"size": [50, 50] }} %}
                                                <img src="{{ vich_uploader_asset(image, 'imageFile')|imagine_filter('shop_square_filter', runtimeConfig) }}"
                                                    alt="{{ item.product.title }}">
                                            </a>
                                            <div class="content fix">
                                                <a href="{{ path('shopProductView', {'slug': item.product.slug}) }}"
                                                   class="title"
                                                   title="{{ item.product.title }}">
                                                    {{ item.product.title }}
                                                </a>
                                            </div>
                                        </div>
                                    {%  endfor %}
                                    <div class="mini-cart-checkout text-center">
                                        <a href="{{ path('shopCartView') }}">
                                            <span>{{ 'button.go_to_cart'|trans }}</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Mobile menu start -->
        <div class="mobile-menu-area hidden-lg hidden-md">
            <div class="container">
                <div class="col-md-12">
                    <nav id="dropdown" style="display: block;">
                        <ul>
                            <li>
                                <a href="{{ path('homepage') }}" title="{{ 'titles.home'|trans }}">
                                    {{ 'titles.home'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('shopHome') }}" title="{{ 'titles.shop'|trans }}">
                                    {{ 'titles.shop'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('servicesList') }}" title="{{ 'titles.services'|trans }}">
                                    {{ 'titles.services'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('specialOffers') }}" title="{{ 'titles.special_offer'|trans }}">
                                    {{ 'titles.special_offer'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('about') }}" title="{{ 'titles.about'|trans }}">
                                    {{ 'titles.about'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('blog') }}" title="{{ 'titles.blog'|trans }}">
                                    {{ 'titles.blog'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('testimonialsList') }}" title="{{ 'titles.testimonials'|trans }}">
                                    {{ 'titles.testimonials'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('gallery') }}" title="{{ 'titles.gallery'|trans }}">
                                    {{ 'titles.gallery'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('contacts') }}" title="{{ 'titles.contact_us'|trans }}">
                                    {{ 'titles.contact_us'|trans }}
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Mobile menu end -->
    </div>
</div>
