{% extends 'base.html.twig' %}

{% block title %}{{ 'titles.blog'|trans }} | {{ category.name }}{% endblock %}



{% block body %}
    {% set title = translator.trans('titles.blog') ~ ' | ' ~ category.name %}
    {% set crumbs = {
        'title': title,
        'description': '',
        'path': [
            {'url': path('homepage'), 'title': 'titles.home'},
            {'url': path('blog'), 'title': 'titles.blog'},
            {'url': path('blogCategory', {'slug': category.slug}), 'title': category.name},
        ]
    } %}
    {% include '::_breadcrumbs.html.twig' with crumbs %}

    <div class="our-blog blog-pages ptb-100 fix">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title text-center">
                        <h2>{{ category.name }}</h2>
                    </div>
                </div>
            </div>
            <div class="row blog-list">
                {% for post in category.posts %}
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        {% include ':blog:_shortPost.html.twig' with {'post': post} %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}