{% extends 'base.html.twig' %}

{% block title %}{{ 'titles.blog'|trans }} | {{ post.title }}{% endblock %}

{% block fb_meta %}
    <meta property="og:url"           content="{{ url('blogPost', {'slug': post.slug}) }}" />
    <meta property="og:type"          content="article" />
    <meta property="og:title"         content="{{ post.title }}" />
    <meta property="og:image" content="{{ app.request.getUriForPath(vich_uploader_asset(post, 'imageFile')) }}" />
{% endblock %}


{% block body %}
    {% set title = translator.trans('titles.blog') ~ ' | ' ~ post.title %}
    {% set crumbs = {
        'path': [
            {'url': path('homepage'), 'title': 'titles.home'},
            {'url': path('blog'), 'title': 'titles.blog'},
            {'url': path('blogPost', {'slug': post.slug}), 'title': post.title},
        ]
    } %}
    {% include '::_breadcrumbs.html.twig' with crumbs %}

    <div class="our-blog-details ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="blog-left-sidebar">
                        <article class="articles-details">
                            <div class="article-thumbnail">
                                <img src="{{ vich_uploader_asset(post, 'imageFile') }}" alt="{{ post.title }}">
                                <div class="blog-bottom-action">
                                    <div class="blog-publish">
                                        <p><i class="zmdi zmdi-time"></i> {{ post.created|date }}</p>
                                    </div>
                                    <div class="blog-action-box text-muted">
                                        <i class="zmdi zmdi-tag-more"></i>
                                        <a href="{{ path('blogCategory', {'slug': post.category.slug}) }}"
                                           title="{{ post.category.name }}">
                                            {{ post.category.name }}
                                        </a>
                                    </div>
                                    <div class="blog-action-box mr-100 text-muted">
                                        {{ 'pages.services.share'|trans }}:
                                        <a onclick="Share.facebook('{{ url('blogPost', {'slug': post.slug}) }}'); return false;"
                                           style="cursor: pointer;"
                                           class="mr-10 ml-10"
                                           title="{{ 'pages.services.share'|trans }} в Facebook" >
                                            <i class="zmdi zmdi-facebook fb-color"></i>
                                        </a>
                                        <a onclick="Share.vk('{{ url('blogPost', {'slug': post.slug}) }}'); return false;"
                                           style="cursor: pointer;"
                                           title="{{ 'pages.services.share'|trans }} в VK">
                                            <i class="zmdi zmdi-vk vk-color"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="article-desc">
                                <div class="article-title">
                                    <h3>{{ post.title }}</h3>
                                </div>
                                <div class="article-text">{{ post.content|raw }}</div>

                                <div class="share mt-30">
                                    <p>{{ 'pages.services.share'|trans }}:</p>
                                    <ul>
                                        <li class="facebook">
                                            <a onclick="Share.facebook('{{ url('blogPost', {'slug': post.slug}) }}'); return false;"
                                               style="cursor: pointer;"
                                               title="{{ 'pages.services.share'|trans }} в Facebook" >
                                                <i class="zmdi zmdi-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="vk">
                                            <a onclick="Share.vk('{{ url('blogPost', {'slug': post.slug}) }}'); return false;"
                                               style="cursor: pointer;"
                                               title="{{ 'pages.services.share'|trans }} в VK">
                                                <i class="zmdi zmdi-vk"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </article>

                        <div id="disqus_thread" class="mt-50"></div>
                        <script>
                            var disqus_config = function () {
                                this.page.url = '{{ url('blogPost', {'slug': post.slug}) }}';  // Replace PAGE_URL with your page's canonical URL variable
                                this.page.identifier = '{{ path('blogPost', {'slug': post.slug}) }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                            };

                            (function() { // DON'T EDIT BELOW THIS LINE
                                var d = document, s = d.createElement('script');
                                s.src = 'https://panski-primkhi.disqus.com/embed.js';
                                s.setAttribute('data-timestamp', +new Date());
                                (d.head || d.body).appendChild(s);
                            })();
                        </script>
                        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="blog-right sidebar">
                        <aside class="widget categories grey-bg mb-30">
                            <div class="widget-title">
                                <h3>{{ 'pages.blog.categories'|trans }}</h3>
                            </div>
                            <div class="widget-categories-body">
                                <ul class="">
                                    {% for category in categories %}
                                        <li>
                                            <a href="{{ path('blogCategory', {'slug': category.slug}) }}"
                                               title="{{ category.name }}">
                                                {{ category.name }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </aside>
                        <aside class="widget mb-30 grey-bg">
                            <div class="widget-title">
                                <h3>{{ 'pages.blog.recent_post'|trans }}</h3>
                            </div>
                            <div class="recent-post">
                                {% for post in recent %}
                                    <div class="single-recent-post mb-15">
                                        <div class="recent-post-thumbnail">
                                            <img src="{{ vich_uploader_asset(post, 'imageFile') }}" alt="{{ post.title }}">
                                        </div>
                                        <div class="post-detail">
                                            <div class="post-title">
                                                <h5>
                                                    <a href="{{ path('blogPost', {'slug': post.slug}) }}"
                                                       title="{{ post.title }}">
                                                        {{ post.title }}
                                                    </a>
                                                </h5>
                                            </div>
                                            <div class="post-publish">
                                                <p class="post-date">{{ post.created|date }}</p>
                                            </div>
                                        </div>
                                    </div>
                                {%  endfor %}
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}