<div class="media">
    <div class="media-left">
        <a href="{{ path('viewSpecialOffer', {'slug': offer.slug}) }}" title="{{ offer.title }}">
            <img src="{{ vich_uploader_asset(offer, 'imageFile') }}" class="media-object" alt="{{ offer.title }}">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">
            <a href="{{ path('viewSpecialOffer', {'slug': offer.slug}) }}" title="{{ offer.title }}">
                {{ offer.title }}
            </a>
        </h4>
        <p><i class="zmdi zmdi-time"></i> {{ offer.created|date }}</p>
    </div>
</div>