{% extends 'base.html.twig' %}

{% block title %}{{ 'titles.special_offer'|trans }}{% endblock %}

{% block body %}
    {% set crumbs = {
        'title': 'titles.special_offer',
        'description': '',
        'path': [
            {'url': path('homepage'), 'title': 'titles.home'},
            {'url': path('specialOffers'), 'title': 'titles.special_offer'},
        ]
    } %}
    {% include '::_breadcrumbs.html.twig' with crumbs %}

    <div class="our-blog blog-pages ptb-100 fix">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title text-center">
                        <h2>{{ 'titles.special_offer'|trans }}</h2>
                    </div>
                </div>
            </div>
            {% for offer in offers %}
            <div class="row special-offers-list">
                <div class="col-md-3"></div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    {% include ':SpecialOffers:_short.html.twig' with {'offer': offer} %}
                    <hr>
                </div>
                <div class="col-md-3"></div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}