{% extends 'base.html.twig' %}

{% block title %}{{ 'titles.special_offer'|trans }} | {{ offer.title }}{% endblock %}



{% block body %}
    {% set title = translator.trans('titles.special_offer') ~ ' | ' ~ offer.title %}
    {% set crumbs = {
        'title': title,
        'description': '',
        'path': [
            {'url': path('homepage'), 'title': 'titles.home'},
            {'url': path('specialOffers'), 'title': 'titles.special_offer'},
            {'url': path('viewSpecialOffer', {'slug': offer.slug}), 'title': offer.title},
        ]
    } %}
    {% include '::_breadcrumbs.html.twig' with crumbs %}

    <div class="our-blog-details ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="blog-left-sidebar">
                        <article class="articles-details">
                            <div class="article-thumbnail">
                                <img src="{{ vich_uploader_asset(offer, 'imageFile') }}" alt="{{ offer.title }}">
                                <div class="blog-bottom-action">
                                    <div class="blog-publish">
                                        <p><i class="zmdi zmdi-time"></i> {{ offer.created|date }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="article-desc">
                                <div class="article-title">
                                    <h3>{{ offer.title }}</h3>
                                </div>
                                <div class="article-text">{{ offer.content|raw }}</div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="blog-right sidebar">
                        <aside class="widget mb-30 grey-bg">
                            <div class="widget-title">
                                <h3>{{ 'pages.special_offers.recent_offers'|trans }}</h3>
                            </div>
                            <div class="recent-post">
                                {% for offer in recent %}
                                    <div class="single-recent-post mb-15">
                                        <div class="recent-post-thumbnail">
                                            <img src="{{ vich_uploader_asset(offer, 'imageFile') }}" alt="{{ offer.title }}">
                                        </div>
                                        <div class="post-detail">
                                            <div class="post-title">
                                                <h5>
                                                    <a href="{{ path('viewSpecialOffer', {'slug': offer.slug}) }}"
                                                       title="{{ offer.title }}">
                                                        {{ offer.title }}
                                                    </a>
                                                </h5>
                                            </div>
                                            <div class="post-publish">
                                                <p class="post-date">{{ offer.created|date }}</p>
                                            </div>
                                        </div>
                                    </div>
                                {%  endfor %}
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}