<div class="our-feature ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="section-title text-center">
                    <h2>Our Services</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim nostrud exercitation ullamco laboris nisi.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            {% include ':service:_list.html.twig' with {'servicesList': servicesList} %}
        </div>
    </div>
</div>