<div class="slider-container">
    <!-- Slider Image -->
    <div id="mainSlider" class="nivoSlider slider-image">
        <img src="{{ asset('images/slider/1.jpg', 'theme') }}" alt="" title="#htmlcaption1"/>
        <img src="{{ asset('images/slider/2.jpg', 'theme') }}" alt="" title="#htmlcaption2"/>
        <img src="{{ asset('images/slider/3.jpg', 'theme') }}" alt="" title="#htmlcaption3"/>
    </div>
    <!-- Slider Caption 1 -->
    <div id="htmlcaption1" class="nivo-html-caption slider-caption-1">
        <div class="slider-text-table">
            <div class="slider-text-tablecell">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="slide1-text">
                                <div class="middle-text">
                                    <div class="title-1 wow rotateInDownRight" data-wow-duration="0.9s" data-wow-delay="0s">
                                        <h1 class="text-white">welcome our beauty house</h1>
                                    </div>
                                    <div class="desc wow slideInRight" data-wow-duration="1.2s" data-wow-delay="0.2s">
                                        <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel volutpat felis, eu condimentum<br> massa.lorem ipsum dolor sit amet,consectetur adipicing elit.</p>
                                    </div>
                                    {#<div class="explore-now wow bounceInUp" data-wow-duration="1.3s" data-wow-delay=".5s">#}
                                        {#<a href="#">Explore now</a>#}
                                    {#</div>#}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="htmlcaption2" class="nivo-html-caption slider-caption-1">
        <div class="slider-text-table">
            <div class="slider-text-tablecell">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="slide1-text">
                                <div class="middle-text">
                                    <div class="title-1 wow rotateInDownRight" data-wow-duration="0.9s" data-wow-delay="0s">
                                        <h1>welcome our beauty house</h1>
                                    </div>
                                    <div class="desc wow slideInRight" data-wow-duration="1.2s" data-wow-delay="0.2s">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel volutpat felis, eu condimentum<br> massa.lorem ipsum dolor sit amet,consectetur adipicing elit.</p>
                                    </div>
                                    <div class="explore-now wow bounceInUp" data-wow-duration="1.3s" data-wow-delay=".5s">
                                        <a href="#">Explore now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="htmlcaption3" class="nivo-html-caption slider-caption-1">
        <div class="slider-text-table">
            <div class="slider-text-tablecell">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="slide1-text">
                                <div class="middle-text">
                                    <div class="title-1 wow rotateInDownRight" data-wow-duration="0.9s" data-wow-delay="0s">
                                        <h1>welcome our beauty house</h1>
                                    </div>
                                    <div class="desc wow slideInRight" data-wow-duration="1.2s" data-wow-delay="0.2s">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel volutpat felis, eu condimentum<br> massa.lorem ipsum dolor sit amet,consectetur adipicing elit.</p>
                                    </div>
                                    <div class="explore-now wow bounceInUp" data-wow-duration="1.3s" data-wow-delay=".5s">
                                        <a href="#">Explore now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
