<div class="testimonial">
    <div class="bg-img">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="testimonail-list owl_pagination">
                        {% for item in testimonialList %}
                            {% include ':testimonial:_itemShort.html.twig' with {'testimonial': item} %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>