<!--welcome section start-->
<div class="welcome-about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="about-img">
                    <img src="{{ asset('images/about/1.jpg', 'theme') }}" alt="">
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="about-desc">
                    <h6>Welcome to beauty house</h6>
                    <h2>About Our Beauty House</h2>
                    <p class="text-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet dolor
                        libero, eget loved venenatis mauris finibus dictum. Vestibulum quis elit eget neque porttitor no
                        amet dolor. Proin pretium purus a lorem ornare</p>
                    <p class="text-2">sed lobortis pulvinar. Integer laoreet mi id eros porta euismod. Suspendisse
                        potenti. Nulla eros mauris, convallis et sem tempus, viverra hendrerit sapien Lorem amet,
                        consectetur adipiscing elit. Donec aliquet dolor libero, </p>
                    <a href="{{ path('about') }}" title="{{ 'titles.about'|trans }}">Read more</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--welcome section end-->