{% extends 'base.html.twig' %}

{% block title %}{{ 'titles.about'|trans }}{% endblock %}

{% block body %}
    {% set crumbs = {
        'title': 'titles.about',
        'description': '',
        'path': [
            {'url': path('homepage'), 'title': 'titles.home'},
            {'url': path('about'), 'title': 'titles.about'},
        ]
    } %}
    {% include '::_breadcrumbs.html.twig' with crumbs %}

    <div class="about-us ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="about-desc">
                        <h2>About Our Beauty House</h2>
                        <p class="text-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet dolor
                            libero, eget loved venenatis mauris finibus dictum. Vestibulum quis elit eget neque
                            porttitor no amet dolor. Proin pretium purus a lorem ornare</p>
                        <p class="text-2">sed lobortis pulvinar. Integer laoreet mi id eros porta euismod. Suspendisse
                            potenti. Nulla eros mauris, convallis et sem tempus, viverra hendrerit sapien Lorem amet,
                            consectetur adipiscing elit. Donec aliquet dolor libero, </p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="about-us-img">
                        <img src="{{ asset('images/about/about-1.jpg', 'theme') }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="choose-us ptb-100 mb-20 grey-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title bg_grey text-center">
                        <h2>why choose us?</h2>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim nostrud exercitation ullamco laboris
                            nisi.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7 col-sm-6">
                    <div class="choose-us-img">
                        <img src="{{ asset('images/about/choose.png', 'theme') }}" alt="">
                    </div>
                </div>
                <div class="col-md-5 col-sm-6">
                    <div class="choose-us-list">
                        <div class="single-choose">
                            <div class="choose-head">
                                <div class="choose-icon">
                                    <i class="zmdi zmdi-favorite"></i>
                                </div>
                                <div class="choose-title">
                                    <h5>Beautiful &amp; sexy Life</h5>
                                </div>
                            </div>
                            <div class="choose-desc">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis . </p>
                            </div>
                        </div>
                        <div class="single-choose">
                            <div class="choose-head">
                                <div class="choose-icon">
                                    <i class="fa fa-pagelines" aria-hidden="true"></i>
                                </div>
                                <div class="choose-title">
                                    <h5>natural atmosphere</h5>
                                </div>
                            </div>
                            <div class="choose-desc">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis . </p>
                            </div>
                        </div>
                        <div class="single-choose">
                            <div class="choose-head">
                                <div class="choose-icon">
                                    <i class="zmdi zmdi-mood"></i>
                                </div>
                                <div class="choose-title">
                                    <h5>xoss environment</h5>
                                </div>
                            </div>
                            <div class="choose-desc">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis . </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}