{% extends 'base.html.twig' %}

{% block title %}{{ 'titles.contact_us'|trans }}{% endblock %}

{% block body %}
    {% set crumbs = {
        'title': 'titles.contact_us',
        'description': '',
        'path': [
            {'url': path('homepage'), 'title': 'titles.home'},
            {'url': path('contacts'), 'title': 'titles.contact_us'},
        ]
    } %}
    {% include '::_breadcrumbs.html.twig' with crumbs %}

    <div class="about-us ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="about-desc">
                        <h2>{{ 'titles.contact_us'|trans }}</h2>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 mb-15">
                                <address>
                                    <p><i class="zmdi zmdi-pin mr-10"></i> Address</p>
                                </address>
                            </div>
                            <div class="col-xs-12 col-sm-12">
                                <p><i class="zmdi zmdi-phone mr-10"></i> Phone</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="about-us-img">
                        <img src="{{ asset('images/about/about-1.jpg', 'theme') }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}