<div class="single-blog">
    <div class="single-blog-top fix">
        <div class="blog-img">
            <a href="{{ path('blogPost', {'slug': post.slug}) }}" title="{{ post.title }}">
                <img src="{{ vich_uploader_asset(post, 'imageFile') }}" alt="{{ post.title }}">
            </a>
        </div>
        <div class="blog-desc">
            <h6>
                <a href="{{ path('blogPost', {'slug': post.slug}) }}" title="{{ post.title }}">
                    {{ post.title }}
                </a>
            </h6>
            <div>{{ post.excerpt|raw }}</div>
            <a class="read-more" href="{{ path('blogPost', {'slug': post.slug}) }}" title="{{ post.title }}">
                {{ 'pages.blog.read_more'|trans }} <i class="zmdi zmdi-long-arrow-right"></i>
            </a>
        </div>
    </div>
    <div class="blog-bottom-action">
        <div class="blog-publish">
            <p><i class="zmdi zmdi-time"></i> {{ post.created|date }}</p>
        </div>
        <div class="blog-action-box text-muted">
            <i class="zmdi zmdi-tag-more"></i>
            <a href="{{ path('blogCategory', {'slug': post.category.slug}) }}" title="{{ post.category.name }}">
                {{ post.category.name }}
            </a>
        </div>
    </div>
</div>