{% extends 'base.html.twig' %}

{% block title %}{{ 'titles.blog'|trans }}{% endblock %}

{% block body %}
    {% set crumbs = {
        'title': 'titles.blog',
        'description': 'Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br>
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
                        Ut enim ad minim nostrud exercitation ullamco laboris nisi.',
        'path': [
            {'url': path('homepage'), 'title': 'titles.home'},
            {'url': path('blog'), 'title': 'titles.blog'},
        ]
    } %}
    {% include '::_breadcrumbs.html.twig' with crumbs %}

    <div class="our-blog blog-pages ptb-100 fix">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title text-center">
                        <h2>{{ 'titles.blog'|trans }}</h2>
                    </div>
                </div>
            </div>
            <div class="row blog-list">
                {% for post in posts %}
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        {% include ':blog:_shortPost.html.twig' with {'post': post} %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}