{% extends 'base.html.twig' %}

{% block title %}{{ 'titles.blog'|trans }} | {{ post.title }}{% endblock %}



{% block body %}
    {% set title = translator.trans('titles.blog') ~ ' | ' ~ post.title %}
    {% set crumbs = {
        'title': title,
        'description': 'Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br>
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
                        Ut enim ad minim nostrud exercitation ullamco laboris nisi.',
        'path': [
            {'url': path('homepage'), 'title': 'titles.home'},
            {'url': path('blog'), 'title': 'titles.blog'},
            {'url': path('blogPost', {'slug': post.slug}), 'title': post.title},
        ]
    } %}
    {% include '::_breadcrumbs.html.twig' with crumbs %}

    <div class="our-blog-details ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="blog-left-sidebar">
                        <article class="articles-details">
                            <div class="article-thumbnail">
                                <img src="{{ vich_uploader_asset(post, 'imageFile') }}" alt="{{ post.title }}">
                                <div class="blog-bottom-action">
                                    <div class="blog-publish">
                                        <p><i class="zmdi zmdi-time"></i> {{ post.created|date }}</p>
                                    </div>
                                    <div class="blog-action-box text-muted">
                                        <i class="zmdi zmdi-tag-more"></i>
                                        <a href="{{ path('blogCategory', {'slug': post.category.slug}) }}"
                                           title="{{ post.category.name }}">
                                            {{ post.category.name }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="article-desc">
                                <div class="article-title">
                                    <h3>{{ post.title }}</h3>
                                </div>
                                <div class="article-text">{{ post.content|raw }}</div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="blog-right sidebar">
                        <aside class="widget categories grey-bg mb-30">
                            <div class="widget-title">
                                <h3>{{ 'pages.blog.categories'|trans }}</h3>
                            </div>
                            <div class="widget-categories-body">
                                <ul class="">
                                    {% for category in categories %}
                                        <li>
                                            <a href="{{ path('blogCategory', {'slug': category.slug}) }}"
                                               title="{{ category.name }}">
                                                {{ category.name }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </aside>
                        <aside class="widget mb-30 grey-bg">
                            <div class="widget-title">
                                <h3>recent post</h3>
                            </div>
                            <div class="recent-post">
                                {% for post in recent %}
                                    <div class="single-recent-post mb-15">
                                        <div class="recent-post-thumbnail">
                                            <img src="{{ vich_uploader_asset(post, 'imageFile') }}" alt="{{ post.title }}">
                                        </div>
                                        <div class="post-detail">
                                            <div class="post-title">
                                                <h5>
                                                    <a href="{{ path('blogPost', {'slug': post.slug}) }}"
                                                       title="{{ post.title }}">
                                                        {{ post.title }}
                                                    </a>
                                                </h5>
                                            </div>
                                            <div class="post-publish">
                                                <p class="post-date">{{ post.created|date }}</p>
                                            </div>
                                        </div>
                                    </div>
                                {%  endfor %}
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}