{% form_theme form 'bootstrap_3_layout.html.twig' %}

<h3>{{ 'form.head.add_comment'|trans }}</h3>

{% for message in app.flashes('success') %}
    <div class="alert alert-success">{{ message|trans }}</div>
{% endfor %}
{% for message in app.flashes('error') %}
    <div class="alert alert-danger">{{ message|trans }}</div>
{% endfor %}

{{ form_start(form) }}
{{ form_widget(form) }}
<div class="row">
    <div class="col-md-4">
        <div class="g-recaptcha" data-sitekey="6Lc-sjMUAAAAAM0Cf1ijdvv4_09fEgNEYjE2yD3y"></div>
    </div>
    <div class="col-md-8">
        <input type="submit" value="{{ 'button.add'|trans }}" class="btn btn-default pull-right"/>
    </div>
</div>


{{ form_end(form) }}
