{# a *-to-many collection of values #}
{% if value|length > 0 %}
    <ul class="list-inline">
        {% for item in value|slice(0, easyadmin_config('show.max_results')) %}
            <li>
                <a href="#" class="easyadmin-thumbnail" data-featherlight="#easyadmin-lightbox-{{ item.id }}" data-featherlight-close-on-click="anywhere">
                    <img src="{{ vich_uploader_asset(item, 'imageFile') }}">
                </a>
                <div id="easyadmin-lightbox-{{ item.id }}" class="easyadmin-lightbox">
                    <img src="{{ vich_uploader_asset(item, 'imageFile') }}">
                </div>
                <p>{{ item.image }}</p>
            </li>
        {% endfor %}

        {% set _remaining_items = value|length - easyadmin_config('show.max_results') %}
        {% if _remaining_items > 0 %}
            <li class="remaining-items">({{ 'show.remaining_items'|transchoice(_remaining_items, {}, 'EasyAdminBundle') }})</li>
        {% endif %}
    </ul>
{% else %}
    <div class="empty collection-empty">
        {{ include(entity_config.templates.label_empty) }}
    </div>
{% endif %}
