/*

Template:  Resta resturant tempalte
Author: http://bootexperts.com/
Version: 1
Design and Developed by: Hastech

NOTE: This is color stylesheet of Color Scheme.

*/

/*************************
		General
*************************/


/** selection **/

*::-moz-selection {
    background: #6bc513;
    color: #fff;
    text-shadow: none;
}

::-moz-selection {
    background: #6bc513;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #6bc513;
    color: #fff;
    text-shadow: none;
}




/** Color **/

a:hover, a,  .separator i, button{
    color: #6bc513;
}


/*-----------------
	Background css here
----------------------*/
.white-bg{background: #fff;}
.grey-bg{background: #f1f1f1;}

.text-white {
    color: white !important;
}
.text-green {
    color: #6bc513;
}
.text-light-gray {
    color: #999;
}
.text-gray {
    color: #777;
}

.fb-color {
    color: #3b5998
}
.vk-color {
    color: #45668e
}
