<div class="galllery ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="section-title text-center">
                    <h2>Галерея наших робіт</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="gallery-tab-section">
        <div class="gallery-tab-content">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="all">
                    <div class="single-gallery-list owl_pagination">
                        {% for image in galleryImages %}
                            <div class="single-gallery">
                                <div class="gallery-img img-thumbnail">
                                    {#<span class="helper"></span>#}
                                    <img src="{{ vich_uploader_asset(image, 'imageFile') }}"
                                         alt="{{ image.category.name }}">
                                    <a href="{{ vich_uploader_asset(image, 'imageFile') }}"
                                       title="{{ image.category.name }}">
                                        <i class="zmdi zmdi-zoom-in"></i>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>