<div class="our-feature ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="section-title text-center">
                    <h2>Наші послуги</h2>
                    <p>Основні напрями:</p>
                    <ul>
                        <li>- механічна, ультра-звукова, комбінована чистка обличчя, плеч, спини</li>
                        <li>- класичний масаж обличчя, голови, комірковой зони</li>
                        <li>- безліч професійних доглядових процедур та комплексів</li>
                        <li>- різні види хімічних пілінгів</li>
                        <li>- неінвазивна карбоксітерапія</li>
                        <li>- фракційна мезотерапія апаратом Дермаштамп</li>
                        <li>- воскова депіляція</li>
                        <li>- антицелюлітні обгортання і сповивання ВІСКІ для схуднення</li>
                        <li>- доглядові процедури для зрілої шкіри</li>
                        <li>- доглядові процедури для проблемної шкіри</li>
                        <li>- індивідуальний підбір косметики для домашнього догляду</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            {% include ':service:_list.html.twig' with {'servicesList': servicesList} %}
        </div>
    </div>
</div>