<!--welcome section start-->
<div class="welcome-about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="about-img">
                    <img src="{{ asset('images/about/1.jpg', 'theme') }}"
                         alt="Добро пожаловать на сайт &quot;Панські примхи&quot;">
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="about-desc">
                    <h6>Ласкаво просимо на сайт "Панські примхи"</h6>
                    <p class="text-1">
                        ПАНСЬКІ ПРИМХИ - це втілення всіх бажань щодо неймовірної краси вашого обличчя і тіла!
                        <br>
                        В нас Ви знайдете саме ту процедуру, яка бездоганно вдосконалить вашу чарівність!!!
                    </p>
                    <p class="text-2">
                        Юлія - досвідчений косметолог, який завжди з радістю проконсультує, порадить, а також прийме на будь-яку з процедур, зазначених на сайті.
                    </p>
                    <a href="{{ path('about') }}" title="{{ 'titles.about'|trans }}">{{ 'titles.about'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--welcome section end-->