{% extends 'base.html.twig' %}

{% block title %}{{ 'titles.about'|trans }}{% endblock %}

{% block body %}
    {% set crumbs = {
        'title': 'titles.about',
        'description': '',
        'path': [
            {'url': path('homepage'), 'title': 'titles.home'},
            {'url': path('about'), 'title': 'titles.about'},
        ]
    } %}
    {% include '::_breadcrumbs.html.twig' with crumbs %}

    <div class="about-us ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="about-desc">
                        <h2>{{'titles.about'|trans}}</h2>
                        <p class="text-1">
                            ПАНСЬКІ ПРИМХИ - це втілення всіх бажань щодо неймовірної краси вашого обличчя і тіла!
                            В нас Ви знайдете саме ту процедуру, яка бездоганно вдосконалить вашу чарівність!!!
                        </p>
                        <p class="text-2">
                            В нас Ви знайдете саме ту процедуру, яка бездоганно вдосконалить вашу чарівність!!!
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="about-us-img">
                        <img src="{{ asset('images/about/about-1.jpg', 'theme') }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="choose-us ptb-100 mb-20 grey-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title bg_grey text-center">
                        <h2>Чому обрати саме нас?</h2>
                        <p>
                            Юлія - досвідчений косметолог, який завжди з радістю проконсультує,
                            порадить, а також прийме на будь-яку з процедур, зазначених на сайті.
                            <br>
                            Ласкаво просимо!
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7 col-sm-6">
                    <div class="choose-us-img">
                        <img src="{{ asset('images/about/choose.png', 'theme') }}" alt="">
                    </div>
                </div>
                <div class="col-md-5 col-sm-6">
                    <div class="choose-us-list">
                        <div class="single-choose">
                            <div class="choose-head">
                                <div class="choose-icon">
                                    <i class="zmdi zmdi-favorite"></i>
                                </div>
                                <div class="choose-title">
                                    <h5>Багато цікавої інформації</h5>
                                </div>
                            </div>
                            <div class="choose-desc">
                                <p>
                                    Саме на нашому сайті Ви знайдете багато цікавої інформації щодо питань зі сфери догляду за шкірою обличчя і тіла.
                                    Можете задавати питання в розділі
                                    <a href="{{ path('blog') }}" title="{{ 'titles.blog'|trans }}">
                                        "{{ 'titles.blog'|trans }}"
                                    </a>, а також писати, чи телефонувати на вайбер і телефон.
                                </p>
                            </div>
                        </div>
                        <div class="single-choose">
                            <div class="choose-head">
                                <div class="choose-icon">
                                    <i class="fa fa-pagelines" aria-hidden="true"></i>
                                </div>
                                <div class="choose-title">
                                    <h5>Безцінні поради</h5>
                                </div>
                            </div>
                            <div class="choose-desc">
                                <p>
                                    Ви отримаєте безцінні поради, щодо домашнього догляду,
                                    а також отримаєте можливість підібрати необхідну косметику саме для вашого типу шкіри.
                                </p>
                            </div>
                        </div>
                        <div class="single-choose">
                            <div class="choose-head">
                                <div class="choose-icon">
                                    <i class="zmdi zmdi-mood"></i>
                                </div>
                                <div class="choose-title">
                                    <h5>Найголовніше</h5>
                                </div>
                            </div>
                            <div class="choose-desc">
                                <p>
                                    А найголовніше - ви маєте можливість спробувати різноманітні косметичні процедури
                                    для магічного перевтілення в неймовірну красу!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}