{% extends 'base.html.twig' %}

{% block title %}{{ 'pages.home.title'|trans({}, 'config') }}{% endblock %}

{% block body %}
    {% include ':default:_slider.html.twig' %}
    {% include ':default:_welcome.html.twig' %}
    {% include ':default:_testimonial.html.twig' %}
    {% include ':default:_services.html.twig' %}
    {% include ':default:_gallery.html.twig' %}
{% endblock %}

{% block stylesheets %}
{% endblock %}
