<div class="row">
    {% for service in servicesList %}
        <div class="col-md-4 col-sm-6 col-xs-12 pb-10">
            <div class="single-feature text-center">
                <div class="feature-img">
                    <a href="{{path('serviceView', {'slug': service.slug})}}" title="{{ service.name }}">
                        <img src="{{ vich_uploader_asset(service, 'imageFile') | imagine_filter('service_thumb_filter') }}"
                             alt="{{ service.name }}" />
                    </a>
                </div>
                <div class="feature-desc">
                    <h3>
                        <a href="{{path('serviceView', {'slug': service.slug})}}" title="{{ service.name }}">
                            {{service.name}}
                        </a>
                    </h3>
                    {#<p>{{ service.price|localizedcurrency(currency) }} {{ currency_code }}</p>#}
                    <p>{{ service.price }} {{ currency_code }}</p>
                    {#<a href="#">Book now</a>#}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
