{% extends 'base.html.twig' %}

{% block title %}{{ 'titles.services'|trans }}{% endblock %}

{% block body %}
    {% set crumbs = {
        'title': 'titles.services',
        'description': 'Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br>
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
                        Ut enim ad minim nostrud exercitation ullamco laboris nisi.',
        'path': [
            {'url': path('homepage'), 'title': 'titles.home'},
            {'url': path('servicesList'), 'title': 'titles.services'},
        ]
    } %}
    {% include '::_breadcrumbs.html.twig' with crumbs %}

    <div class="elements our-feature ptb-100">
        <div class="container">
            <div class="row">
                {% include ':service:_list.html.twig' with {'servicesList': servicesList} %}
            </div>
        </div>
    </div>
{% endblock %}