{% extends 'base.html.twig' %}

{% block title %}{{ 'titles.services'|trans }} | {{ service.name }}{% endblock %}

{% block fb_meta %}
<meta property="og:url"           content="{{ url('serviceView', {'slug': service.slug}) }}" />
<meta property="og:type"          content="service" />
<meta property="og:title"         content="{{service.name}}" />
<meta property="og:image" content="{{ app.request.getUriForPath(vich_uploader_asset(service, 'imageFile')) }}" />
{% endblock %}


{% block body %}
    {% set crumbs = {
        'title': service.name,
        'description': '',
        'path': [
            {'url': path('homepage'), 'title': 'titles.home'},
            {'url': path('servicesList'), 'title': 'titles.services'},
            {'title': service.name},
        ]
    } %}
    {% include '::_breadcrumbs.html.twig' with crumbs %}

    <div class="product-details-area ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <img src="{{ vich_uploader_asset(service, 'imageFile') }}"
                         alt="{{ service.name }}"
                         title="{{ service.name }}"
                         class="img-thumbnail">
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <div class="product-detail single-product-info">
                        <h3>{{ service.name }}</h3>
                        <h4>{{ service.price|localizedcurrency(currency) }}</h4>
                        <h5 class="overview uppercase">{{'fields.descrition'|trans}}:</h5>
                        <div class="service-description">{{ service.description|raw }}</div>

                        <div class="share mt-30">
                            <p>{{ 'pages.services.share'|trans }}:</p>
                            <ul>
                                <li class="facebook">
                                    <a onclick="Share.facebook('{{ url('serviceView', {'slug': service.slug}) }}'); return false;"
                                       style="cursor: pointer;"
                                       title="{{ 'pages.services.share'|trans }} в Facebook" >
                                        <i class="zmdi zmdi-facebook"></i>
                                    </a>
                                </li>
                                <li class="vk">
                                    <a onclick="Share.vk('{{ url('serviceView', {'slug': service.slug}) }}'); return false;"
                                       style="cursor: pointer;"
                                       title="{{ 'pages.services.share'|trans }} в VK">
                                        <i class="zmdi zmdi-vk"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Related products start-->
        <div class="related-products mt-60">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="section-title text-center">
                            <h2>{{ 'pages.services.related'|trans }}</h2>
                        </div>
                    </div>
                </div>

                <div class="row">
                    {% include ':service:_list.html.twig' with {'servicesList': related} %}
                </div>
            </div>
        </div>
        <!--Related products end-->
    </div>
{% endblock %}