{% extends 'base.html.twig' %}

{% block title %}{{ 'titles.services'|trans }}{% endblock %}

{% block body %}
    {% set crumbs = {
        'title': 'titles.services',
        'description': '<p>Основні напрями:</p>
                    <ul>
                    <li>- механічна, ультра-звукова, комбінована чистка обличчя, плеч, спини</li>
                    <li>- класичний масаж обличчя, голови, комірковой зони</li>
                    <li>- безліч професійних доглядових процедур та комплексів</li>
                    <li>- різні види хімічних пілінгів</li>
                    <li>- неінвазивна карбоксітерапія</li>
                    <li>- фракційна мезотерапія апаратом Дермаштамп</li>
                    <li>- воскова депіляція</li>
                    <li>- антицелюлітні обгортання і сповивання ВІСКІ для схуднення</li>
                    <li>- доглядові процедури для зрілої шкіри</li>
                    <li>- доглядові процедури для проблемної шкіри</li>
                    <li>- індивідуальний підбір косметики для домашнього догляду</li>
                    </ul>',
        'path': [
            {'url': path('homepage'), 'title': 'titles.home'},
            {'url': path('servicesList'), 'title': 'titles.services'},
        ]
    } %}
    {% include '::_breadcrumbs.html.twig' with crumbs %}

    <div class="elements our-feature ptb-100">
        <div class="container">
            <div class="row">
                {% include ':service:_list.html.twig' with {'servicesList': servicesList} %}
            </div>
        </div>
    </div>
{% endblock %}
