{% extends 'base.html.twig' %}

{% block title %}{{ 'titles.services'|trans }} | {{ service.name }}{% endblock %}

{% block fb_meta %}
<meta property="og:url"           content="{{ url('serviceView', {'slug': service.slug}) }}" />
<meta property="og:type"          content="service" />
<meta property="og:title"         content="{{service.name}}" />
<meta property="og:image" content="{{ app.request.getUriForPath(vich_uploader_asset(service, 'imageFile')) }}" />
{% endblock %}


{% block body %}
    {% set crumbs = {
        'path': [
            {'url': path('homepage'), 'title': 'titles.home'},
            {'url': path('servicesList'), 'title': 'titles.services'},
            {'title': service.name},
        ]
    } %}
    {% include '::_breadcrumbs.html.twig' with crumbs %}

    <div class="product-details-area ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-xs-12">
                            <img src="{{ vich_uploader_asset(service, 'imageFile') }}"
                                 alt="{{ service.name }}"
                                 title="{{ service.name }}"
                                 class="img-thumbnail">
                        </div>
                    </div>
                    {% if service.images|length > 0 %}
                    <div class="row">
                        <div class="col-xs-12" style="padding-top: 40px;">
                            <h4 style="margin-bottom: 40px;">{{ 'pages.services.results'|trans }}</h4>
                            <div class="zoomWrapper clearfix">
                                {% set image = service.images|first %}
                                <div id="img-1" class="zoomWrapper single-zoom">
                                    <a href="#">
                                        <img
                                                id="zoom1"
                                                src="{{ vich_uploader_asset(image, 'imageFile') }}"
                                                data-zoom-image="{{ vich_uploader_asset(image, 'imageFile') }}"
                                                alt="{{ service.name }}"
                                                title="{{ service.name }}">
                                    </a>
                                </div>
                                <div class="product-thumb">
                                    <ul class="details-slider" id="gallery_01">
                                        {% for image in service.images %}
                                            <li>
                                                <a title="{{ service.name }}"
                                                   class="elevatezoom-gallery"
                                                   href="#"
                                                   data-image="{{ vich_uploader_asset(image, 'imageFile') }}"
                                                   data-zoom-image="{{ vich_uploader_asset(image, 'imageFile') }}">
                                                    <img src="{{ vich_uploader_asset(image, 'imageFile') }}"
                                                         alt="{{ service.name }}"
                                                         title="{{ service.name }}">
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <div class="product-detail single-product-info">
                        <h3>{{ service.name }}</h3>
                        <h4>{{ service.price|localizedcurrency(currency) }}</h4>
                        <h5 class="overview uppercase">{{'fields.descrition'|trans}}:</h5>
                        <div class="service-description">{{ service.description|raw }}</div>

                        <div class="share mt-30">
                            <p>{{ 'pages.services.share'|trans }}:</p>
                            <ul>
                                <li class="facebook">
                                    <a onclick="Share.facebook('{{ url('serviceView', {'slug': service.slug}) }}'); return false;"
                                       style="cursor: pointer;"
                                       title="{{ 'pages.services.share'|trans }} в Facebook" >
                                        <i class="zmdi zmdi-facebook"></i>
                                    </a>
                                </li>
                                <li class="vk">
                                    <a onclick="Share.vk('{{ url('serviceView', {'slug': service.slug}) }}'); return false;"
                                       style="cursor: pointer;"
                                       title="{{ 'pages.services.share'|trans }} в VK">
                                        <i class="zmdi zmdi-vk"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Related products start-->
        <div class="related-products mt-60">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="section-title text-center">
                            <h2>{{ 'pages.services.related'|trans }}</h2>
                        </div>
                    </div>
                </div>

                <div class="row">
                    {% include ':service:_list.html.twig' with {'servicesList': related} %}
                </div>
            </div>
        </div>
        <!--Related products end-->

        <div class="container">
            <div class="row">
                <div id="disqus_thread" class="mt-50"></div>
                <script>
                    var disqus_config = function () {
                        this.page.url = '{{ url('serviceView', {'slug': service.slug}) }}';  // Replace PAGE_URL with your page's canonical URL variable
                        this.page.identifier = '{{ path('serviceView', {'slug': service.slug}) }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                    };

                    (function() { // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');
                        s.src = 'https://panski-primkhi.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            </div>
        </div>
    </div>
{% endblock %}